*{
    margin: 0;
    padding: 0;
}
body{
	
}
img{
    max-width: 100%;
}
header{
	
background: #8fa05b;
}

nav{
	
}
nav ul{
	
display: flex;
	
justify-content: center;
	
flex-wrap: wrap;
	
align-items: center;
}
nav ul li{
    list-style: none;
}
nav ul li a{color: yellow;text-decoration: none;display: block;padding: 10px 20px;text-transform: capitalize;}
nav ul li a img{
    width: 100px;
}


.FormSection{padding: 50px 0;background-image: url(../images/5.jpg);background-size: contain;background-repeat: no-repeat;background-position: center;background-color: #faebd785;background-blend-mode: saturation;}
.Form-box{
    width: 700px;
    margin: auto;
    text-align: center;
}
h1{
    font-size: 30px;
    color: #8fa05b;
}
p{
    font-size: 18px;
    margin-top: 15px;
}

form{
    text-align: left;
    margin-top: 30px;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="file"]
{
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #8fa05b;
    margin-bottom: 15px;
    color: #8fa05b;
}
input[type="file"]{
	margin-bottom: 0px;}

label{
    font-size: 17px;
    font-style: italic;
    margin-right: 20px;
}
span{
	display: block;
	font-style: italic;
	font-size: 14px;


}

b label{
	font-size: 25px;
	display: block;
	margin-top: 15px;
	font-style: normal;

}

input[type="submit"]{
	
display: block;
	
padding: 10px 30px;
	
font-size: 18px;
	
background-color: #a5af86;
	
border: 2px solid #949a81;
cursor: pointer;
margin-top: 25px;
	}
input[type="submit"]:hover{
	background-color: transparent;
}input:focus{
	outline: none;
}

::placeholder{
color: #949a81
}
::selection{
color: #949a81
}